*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  position: relative;
  box-sizing: border-box;
  background-image: var(--backgound-color);
  background-position: bottom;
  color: #fff;
}

@media (orientation: landscape) {
  body {
    background-size: 200vw 200vw;
  }
}
@media (orientation: portrait) {
  body {
    background-size: 200vh 200vh;
  }
}
