:root {
  --max-width: 600px;

  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);

  --backgound-color: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));

  --gradient-rock: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  --gradient-paper: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  --gradient-scissors: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  --gradient-lizard: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  --gradient-spock: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));

  --button-size: 100px;
  --button-border: 12px;

  @media screen and (min-width: 600px) {
    --button-size: 150px;
    --button-border: 18px;
  }
  @media screen and (min-width: 900px) {
    --button-size: 200px;
    --button-border: 24px;
  }
}
