.normal {
  position: absolute;
  transition: all 500ms ease;

  &.rock {
    top: calc(100% - var(--button-size));
    left: 50%;
    transform: translateX(-50%);
  }
  &.paper {
    top: 0%;
    left: 0%;
  }
  &.scissors {
    top: 0%;
    left: calc(100% - var(--button-size));
  }

  &.-is-selected {
    transition: transform 500ms ease, left 500ms ease, top 500ms ease;
    transform: translate(0%, -50%);
    left: 0%;
    top: 50%;
  }
  &.-is-hidden {
    transition: all 500ms ease;
    opacity: 0;
  }
}
