.button {
  border-radius: 50%;
  border: var(--button-border) solid #0000;
  padding: 0;
  width: var(--button-size);
  height: var(--button-size);
  outline: none;

  &.rock {
    background: var(--gradient-rock);
  }
  &.paper {
    background: var(--gradient-paper);
  }
  &.scissors {
    background: var(--gradient-scissors);
  }
  &.lizard {
    background: var(--gradient-lizard);
  }
  &.spock {
    background: var(--gradient-spock);
  }
  &.undefined {
    background-color: none;
    & > div {
      background: var(--dark-text);
    }
  }
}

.button-icon {
  position: relative;
  background-color: #fff;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.button-image {
  position: absolute;
  max-width: calc(100% - 36px);
  max-height: calc(100% - 36px);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
